.home-page {
  width: 100%;
  padding: 0 10px;
  // background-image: url('../../public/pagebottom.svg');
  background: #eeeeee;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 400px);

  .grid-container {
    display: flex;
    flex-wrap: wrap;

    .card-container {
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    min-height: calc(100vh - 300px);
    padding: 0;
  }
}
