.home-page {
  width: 100%;
  background-image: url('../../public/pagebottom.svg');

  .grid-container {
    display: flex;
    flex-wrap: wrap;

    .card-container {
      padding: 10px;
    }
  }
}
