@import 'Src/core/common.scss';

.navbar {
  height: 100vh;
  width: 60px;
  background: lavender;

  button {
    height: 50px;
    width: 100%;
    background: $color-primary;
    border: none;

    &:hover {
      background: lighten($color-primary, 22);
    }
  }
}
