@import 'Src/core/common.scss';

.navbar-container {
  height: 500px;
  width: 100%;
  padding: 10px;
  color: $color-text-light;
  text-align: center;

  .card {
    width: 100%;
    background: linear-gradient(
      to bottom right,
      darken($color-primary, 10),
      $color-primary
    );
    height: 100%;
    padding: 10px;
    border-radius: $radius;
    position: relative;
    box-shadow: $card-shadow;

    .logo {
      height: 40px;
      position: absolute;
      top: 15px;
      left: 20px;
    }

    .navbar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 10px;

      .active {
        border-bottom: solid thin;
      }

      button {
        outline: none;
        height: 35px;
        cursor: pointer;
        background: transparent;
        color: inherit;
        width: auto;
        border: none;
        font-size: 1.1rem;
        padding: 10px 10px;
        text-decoration: none;
      }
    }

    .greeting {
      padding: 140px 0 40px;
      font-weight: 500;
      font-size: 90px;
    }
  }
}
