{
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": [
      "error",
      { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }
    ]
  },
  "extends": ["plugin:react/recommended", "airbnb-base", "prettier"],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true
  }
}
