@import 'Src/core/common.scss';

.events-page {
  width: 100%;
  padding: 10px 15% 0;
  background: #eeeeee;
  height: calc(100vh - 56px);
  overflow: auto;

  &.empty {
    padding-top: calc((100vh - 90px) / 2);
  }

  .no-events {
    color: $color-disabled;
    text-align: center;
  }

  .card-container {
    padding: 5px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .events-page {
    padding: 0;
    .card-container {
      width: 100%;
    }
  }
}
