@import 'Src/core/common.scss';

.events-page {
  width: 100%;
  padding: 0 10px;

  &.empty {
    padding-top: calc((100vh - 90px) / 2);
  }

  &:not(.empty) {
    display: flex;
    flex-wrap: wrap;
  }

  .no-events {
    color: $color-disabled;
    text-align: center;
  }

  .card-container {
    padding: 10px;
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .events-page {
    padding: 0;
    .card-container {
      width: 100%;
    }
  }
}
