@import 'Src/core/common.scss';

.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eeeeee;

  .login {
    position: fixed;
    top: 20px;
    color: $color-dark;
    left: 20px;
    cursor: pointer;
  }

  .form-container {
    height: 400px;
    @include card();
    overflow: hidden;
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .forgot-password-page {
    .form-container {
      box-shadow: none;
    }
  }
}
