@import 'Src/core/common.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.tutorial-page {
  padding: 15px 100px;
  width: 100%;
  background: #eee;
  height: calc(100vh - 56px);
  overflow-y: auto;
  font-family: 'Noto Sans', sans-serif;

  .tutorial {
    background: $color-light;
    box-shadow: 0px 0px 1px 1px rgba(100, 100, 100, 0.3);
    padding: 20px;
    position: relative;

    .name {
      font-size: 2rem;
      font-weight: 500;
    }

    .author {
      font-size: 0.7rem;
    }

    .domain {
      font-size: 0.7rem;
      font-family: sans-serif;
      position: absolute;
      top: 15px;
      right: 15px;
      color: #fff;
      background: rgb(18, 126, 177);
      border-radius: 10px;
      padding: 5px 10px;
    }

    .content {
      overflow-y: auto;
      padding: 20px;

      img {
        max-width: 80vw;
      }

      pre {
        background: #eeeeee;
        padding: 10px 15px;
        border-radius: 2px;
        line-height: 25px;
        overflow: auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .tutorial-page {
    padding: 5px;

    .tutorial {
      padding: 20px;

      .domain {
        display: none;
      }

      .content {
        padding: 0;
      }
    }
  }
}
