@import 'Src/core/common.scss';

.card {
  @include card();
  background: #ffffff;
  padding: 10px;
  width: 100%;
  position: relative;

  .heading {
    font-size: 25px;
    font-weight: 500;
  }

  .bottom-info {
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 10px;
    color: $color-disabled;
  }
}
