@import 'Src/core/common.scss';

.card {
  @include card();
  background: #ffffff;
  padding: 10px;

  .heading {
    font-size: 25px;
    font-weight: 500;
  }

  .bottom-info {
    text-align: right;
    color: #333333;
  }
}
