@import 'Src/core/common.scss';

.event {
  padding: 5px;

  .details {
    font-size: 12px;
    padding: 0 0 5px;
  }

  .timings {
    padding-top: 15px;
    font-size: 12px;
    span {
      font-weight: bold;
      color: $color-disabled;
    }
  }
}
