@import 'Src/core/common.scss';

.event {
  padding: 5px;
  margin-top: 5px;
  border-top: solid thin rgba(200, 200, 200, 0.3);
  position: relative;
  padding-top: 25px;

  .details {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: $color-disabled;
    padding: 0 0 5px;
  }

  .timings {
    padding-top: 15px;
    font-size: 12px;
    span {
      color: $color-disabled;
    }
  }
}
