@import 'Src/core/common.scss';

.events {
  margin: 10px 0;
  overflow: auto;

  .event {
    margin: 15px;

    .title {
      font-size: 20px;
    }

    .start {
      font-size: 13px;
    }
  }

  .no-events {
    text-align: center;
    margin: 10px;
    color: $color-disabled;
  }
}
