@import 'Src/core/common.scss';

.upcoming-events {
  margin: 10px 0;
  overflow: auto;

  .upcoming-event {
    margin: 15px;

    .title {
      font-size: 20px;
    }

    .start {
      font-size: 13px;
    }
  }

  .no-events {
    text-align: center;
    margin: 10px;
    color: $color-disabled;
  }
}

@media only screen and (max-width: 600px) {
  .upcoming-events {
    margin: 0;

    .upcoming-event {
      .title {
        font-size: 1.1rem;
      }

      .start {
        font-size: 0.8rem;
      }
    }
  }
}
